<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<!--about.ejs | Tommy Zhou | 301257934 | October 6th, 2023-->
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h6 id="date"></h6>
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <script>
        var currentdate = new Date();
        document.getElementById("date").innerHTML = currentdate.toString();
      </script>

    </div>
    <div>
      <!--About me Page: Legal name, image, short paragraph about who I am-->
      <h1>Tommy Zhou</h1>
      <h2>Legal Name: Jia Chao Zhou</h2>
      <img src="/public/Assets/images/tommy.jpg">
      <br>
      <h2>About Me</h2>
      <p style="margin-bottom: 10%;">
        I am currently studying Software Engineering Technology at Centennial College. <br>
        I am familiar with QA, C#, Java, Python, Oracle, MS-SQL Server, Unix/Linux, HTML/XML, and JavaScript. <br>
        Problem solving and strong analytical skills used to troubleshoot issues are my strengths. <br>
        I am also multilingual with my ability to speak fluently in English and Chinese Mandarin.
      </p>

      <embed src="TommyZhou_Resume.pdf" width="500" height="375" type="application/pdf">
        <a href="TommyZhou_Resume.pdf" download="file">My Resume</a>

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
