<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<!--contact.ejs | Tommy Zhou | 301257934 | October 6th, 2023-->
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h6 id="date"></h6>
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <script>
        var currentdate = new Date();
        document.getElementById("date").innerHTML = currentdate.toString();
      </script>

    </div>
    <div>
      <!--Mission Statement and Welcome Message-->
      
      
      <h1>Tommy Zhou</h1>
      
      <h2><i>Here is how you can contact me.</i></h2>
      <p>Email: tommyzhou@gmail.com <br>
      Phone Number: 647-209-2345</p>
      <form>
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br>
        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number"><br>
        <label for="message">Message:</label>
        <input type="text" id="message" name="message"><br>
        <input type="submit" value="Submit" formaction="/home">
      </form>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
