<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<!--index.ejs | Tommy Zhou | 301257934 | October 6th, 2023-->
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h6 id="date"></h6>
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <script>
        var currentdate = new Date();
        document.getElementById("date").innerHTML = currentdate.toString();
      </script>

    </div>
    <div>
      <!--Mission Statement and Welcome Message-->
      
      
      <h1>Tommy Zhou</h1>
      
      <h2><i>Always working towards the next step in my career.</i></h2>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
