<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  <!--services.ejs | Tommy Zhou | 301257934 | October 6th, 2023-->

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h6 id="date"></h6>
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <script>
        var currentdate = new Date();
        document.getElementById("date").innerHTML = currentdate.toString();
      </script>

    </div>
    <div>
      <!--Mission Statement and Welcome Message-->
      
      <h1>Tommy Zhou</h1>
      
      <h2><i>Here are my services.</i></h2>
      <ul>
        <li>Custom Software Development</li>
        <img style="float: right;" alt="" src="/public/Assets/images/pexels-fauxels-3182773.jpg"/>
        <li>Software Product Development</li>
        <img style="float: right;" alt="" src="/public/Assets/images/pexels-kevin-ku-577585.jpg"/>
        <li>Software Support and Maintenance</li>
        <img style="float: right; margin-bottom: 10%;" alt="" src="/public/Assets/images/pexels-luis-gomes-546819.jpg"/>
      </ul>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
